nav {
      background-color: black;
      padding: 8px;
      margin-bottom: 16px;
      border: 1px solid white;
    }

    nav a {
      text-decoration: none;
      margin-right: 10px;
      color: white;
    }

    nav a:hover {
      text-decoration: underline;
    }

    header {
      background-color: darkviolet;
      color: white;
      padding: 10px;
      margin: 0px;
      border: 1px solid white;
    }

    body {
      margin: 0px;
      font-family: sans-serif;
    }