body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

header,
footer {
    background-color: gold;
}

.middler {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

aside {
    background-color: goldenrod;
    flex-basis: 150px;
}

main {
    flex-grow: 1;
    flex-basis: 0;
    background-color: black;
    color: white;
}

main,
aside,
header,
footer {
    padding: 10px;
}

.lefter,
.righter {
    display: flex;
    background-image: url("bbb.jpg");
    background-repeat: repeat-y;
    background-size: auto;
    background-position: left top;
}