.main-header {
    grid-area: header;
}

.content {
    grid-area: content;
}

.main-nav {
    grid-area: nav;
}

.side {
    grid-area: sidebar;
}

.ad {
    grid-area: ad;
}

.main-footer {
    grid-area: footer;
}

.wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas:
        "header"
        "nav"
        "content"
        "sidebar"
        "ad"
        "footer";
}

@media (width >=500px) {
    .wrapper {
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
            "header  header"
            "nav     nav"
            "sidebar content"
            "ad      footer";
    }

    nav ul {
        display: flex;
        justify-content: space-between;
    }
}

@media (width >=700px) {
    .wrapper {
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas:
            "header header  header"
            "nav    content sidebar"
            "nav    content ad"
            "footer footer  footer";
    }

    nav ul {
        flex-direction: column;
    }
}

.main-header,
.main-footer {
    background-color: royalblue;
    color: white;
    padding: 5px;
    border: 1px solid black;
}

.main-nav,
.side,
.ad {
    background-color: springgreen;
    padding: 5px;
    border: 1px solid black;
}

.content {
    border: 1px solid black;
    padding: 5px;
}