body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: 0;
}

h1 {
    position: relative;
    z-index: 1;
    color: white;
    font-family: sans-serif;
    text-decoration: underline;
    padding-left: 10px;
}

div {
    position: relative;
    z-index: 1;
    padding: 10px;
    color: white;
    font-family: monospace;
    font-size: 18px;
    pointer-events: none;
    max-width: 100vw;
    white-space: pre-wrap;
    word-wrap: break-word;
}

html,
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgb(148, 0, 211), rgb(0, 0, 255), rgb(32, 178, 170));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}