html,
body {
    height: 100%;
    margin: 0;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    /* background-color: darkviolet; */
    background: linear-gradient(to right, rgb(148, 0, 211), rgb(0, 0, 255), rgb(32, 178, 170), rgb(0, 0, 255), rgb(148, 0, 211));
    background-size: 200% 100%;
    animation: gradient-shift 3s linear infinite;
    color: white;
    padding: 10px;
    text-align: center;
    border: 1px solid white;
    flex-shrink: 0;
}

p {
    padding-left: 10px;
}

.controls {
    position: absolute;
    top: 5px;
    right: 5px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2px 5px;
    justify-items: end;
    z-index: 1;
}

#canvas {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
}

#editor {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 350px;
    height: 150px;
    z-index: 1;
}

main {
    display: flex;
    flex: 1;
}

h2 {
    padding: 10px;
    border: 1px solid white;
    margin: 0;
    background: linear-gradient(to right, rgb(148, 0, 211), rgb(0, 0, 255), rgb(32, 178, 170), rgb(0, 0, 255), rgb(148, 0, 211));
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-shift 3s linear infinite;
}

@keyframes gradient-shift {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 200% 0%;
    }
}

.renderers,
.projects,
.reading-questions {
    border: 1px solid white;
    flex: 1;
    padding-bottom: 10px;
}

.list {
    padding-right: 10px;
}

a {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}