* {
    /* For visualization purposes -- comment out the line below to disable */
    outline: 1px dashed #ddd;

    /* This is very important to make the box model work correctly */
    box-sizing: border-box;
}

/* CSS Variables */

:root {
    --font-sans-serif: system-ui, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    --primary-color: #450084;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --body-color: #212529;
    --body-bg: #fff;
    --btn-color: #ffffff;
}

/* Example of using the variables */

body {
    font-family: var(--font-sans-serif);
    color: var(--body-color);
    background-color: var(--body-bg);
    margin: 0;
}

/* Styles for headings */

h1, h2, h3 {
    margin: 0;
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

/* Buttons styles for you */

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.btn:hover {
    filter: brightness(90%);
}

.btn:active {
    filter: brightness(80%);
}

/* Part 2: Write Your Styles! */

.text-center {
    text-align: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.m-0 {
    margin: 0;
}

.m-3 {
    margin: 1rem;
}

.p-0 {
    padding: 0;
}

.p-3 {
    padding: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col-md-1 {
    width: 8.33333%;
}

.col-md-3 {
    width: 25%;
}

.col-md-4 {
    width: 33.33333%;
}

.col-md-6 {
    width: 50%;
}

.col-md-12 {
    width: 100%;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--btn-color);
}

.btn-secondary {
    background-color: var(--secondary-color);
    color: var(--btn-color);
}

.btn-success {
    background-color: var(--success-color);
    color: var(--btn-color);
}

/* Part 3: Responsive Design */

@media (width < 768px) {
    .row {
        flex-direction: column;
    }

    .col-md-1,
    .col-md-3,
    .col-md-4,
    .col-md-6 {
        width: 100%;
    }
}
